**/.vscode/
**/__pycache__/
unitree_mujoco/
unitree_ros2/
unitree_sdk2_python/
logs/
runs/
models/
go2_issac/assets/*/
go2_issac/assets/manifest.json
go2_issac/assets/*.usd
go2_issac/assets/*.usda
go2_issac/assets/*.usdc
**.zip
core.*
**.etli